[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
sentence-transformers = "*"
chromadb = "*"
pandas = "*"
google-genai = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
